.blog-container {
  background: #f4f7f6;
  position: relative;
  max-width: 960px;
  margin: 0 auto;
  padding-top: 20px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 50px;
  .image-wrap {
    text-align: center;
  }
}
