.article-row {
  .article-meta {
    border-top: 1px solid #f4f7f6;
    margin-top: 35px;
    padding-top: 20px;

    .category {
      display: inline-block;
      .article-category-link {
        color: #666;
        text-decoration: none;
      }
    }
    .date {
      display: inline-block;
      float: right;
      color: #666;
    }
  }
  .thumbnail-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: 270px;
  }

  .article-content {
    background-color: #fcfcfc;
    padding: 30px 30px 20px 30px;
    h1 {
      a {
        margin: 0;
        font-size: 14px;
        font-weight: 500;
        line-height: 25px;
        text-decoration: none;
        color: #202121;
        margin-bottom: 12px;
        display: block;
      }
    }

    p {
      height: 20px;
      margin-bottom: 12px;
      line-height: 20px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
