footer {
  position: relative;
  z-index: -1;
  text-align: center;
  background-color: #fcfcfc;
  text-align: center;
  padding: 2rem 0 5rem;
  margin-top: 50px;
  line-height: 25px;
  font-size: 12px;
}
