.default-theme {
  background: #f4f7f6;
  border-bottom: 1px solid #e6eaea;
  a {
    color: #212121;

    &:hover {
      text-decoration: none;
    }
  }
  .header {
    position: relative;
    padding: 0;
    margin: 0;
    background-position: top left;
    height: 148px;
    border-radius: 4px 4px 0 0;
    background-size: cover;
    background-color: #000;
    background-image: url('../images/default-image.jpg');
  }

  .avatar {
    margin-top: -40px;
    border: 3px solid #fff;
    position: relative;
    display: inline-block;
    overflow: hidden;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    transition: 0.2s transform ease-in-out;
    transform: translateX(-50%) rotate(0);
    left: 50%;
    img {
      display: block;
      width: 80px;
      height: 80px;
    }

    strong {
      position: absolute;
    }

    > span {
      position: absolute;
    }

    &:hover {
      transform: translateX(-50%) rotate(45deg);
    }
  }
  .status {
    border-top: 1px solid #e6eaea;
    &:after {
      content: '';
      display: block;
      clear: both;
    }
    li {
      float: left;
      width: 33.3333%;
      text-align: center;
      border-right: 1px solid #e6eaea;
      margin: 0;
      padding: 10px 0;
      color: #707070;
      font-size: 14px;
      transition: all 0.5s ease-in-out;
      strong {
        color: #212121;
        display: block;
      }

      &:last-child {
        border-right: none;
      }

      &:hover {
        background-color: #fff;
      }
    }
  }

  .github-card-content {
    text-align: center;
    margin: 15px 0 30px 0;
  }
}
