button {
  background-color: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.side-bar-panel {
  background-color: rgb(244, 247, 246);
  > div {
    z-index: 3;
  }
}

.side-bar-panel {
  height: 100vh;
  overflow-y: scroll;
  > header {
    position: relative;
    height: 70px;
    line-height: 70px;
    font-size: 13px;
    font-weight: 400;
    background-color: #f4f7f6;
    border-bottom: 1px solid #e6eaea;
  }
}

.header__left-box {
  float: left;
  min-width: 115px;
  height: 70px;
  padding: 0 23px;
  border-right: 1px solid #e6eaea;
  color: #202121;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  span {
    display: inline-block;
  }
  .ico-menu {
    position: relative;
    display: inline-block;
    top: -1px;
    margin-right: 10px;
    vertical-align: middle;
    width: 15px;
    height: 13px;

    span {
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #202121;
      border-radius: 2px;
      overflow: hidden;
      &:nth-of-type(1) {
        top: 0;

        &:after {
          transition-delay: 0.1s;
        }
      }
      &:nth-of-type(2) {
        top: 4px;

        &:after {
          transition-delay: 0.2s;
        }
      }
      &:nth-of-type(3) {
        top: 8px;
        &:after {
          transition-delay: 0.3s;
        }
      }

      &:after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background: #a6abab;
        position: absolute;
        top: 0;
        left: 100%;
        z-index: 1;
        transition: 0.3s;
      }
    }
  }
  button {
    &:hover {
      .ico-menu {
        span {
          &:after {
            left: 0;
          }
        }
      }
      .menu-text {
        color: #64686a;
      }
    }
  }
}

.side-bar {
  background: #f4f7f6;
}

.side-menu {
  > header {
    height: 70px;
    padding: 0 30px 0 10px;
    line-height: 70px;
    font-size: 13px;
    font-weight: normal;
    background-color: #f4f7f6;
    border-bottom: 1px solid #e6eaea;
    overflow: hidden;
    z-index: 1;

    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }

  ul {
    li {
      &.is-active {
        a {
          color: #49c5b6;
        }
      }
    }
  }
}
.pull-left {
  float: left;
  height: 100%;

  img {
    display: inline-block;
    padding: 26px 0;
  }
}
.pull-right {
  float: right;

  button {
    padding-right: 30px;
    color: #202121;
    overflow: hidden;
    z-index: 1;
    transition: all 0.3s ease-in-out;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 33px;
      right: 27px;
      width: 20px;
      height: 3px;
      background: #202121;
      transform: rotate(45deg);
      transition: all 0.3s ease-in-out;
    }
    &:after {
      transform: rotate(-45deg);
    }

    &:hover {
      opacity: 0.75;
    }
  }
}

nav {
  ul {
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
      list-style: none;
      > span {
        position: relative;
        display: block;
        padding: 24px 36px;
        font-size: 15px;
        cursor: pointer;
        background: #f4f7f6;
        border-bottom: 1px solid #e6eaea;
        transition: background 0.3s ease-in-out, border 0.3s ease-in-out,
          color 0.3s ease-in-out;

        a {
          text-transform: uppercase;
        }
      }
      a {
        color: #202121;
      }
      &:hover {
        > span {
          background-color: #fcfcfc;
        }
      }
    }
  }
}

.side-bar {
  overflow-y: scroll;
}

.logo-header {
  display: block;
  position: absolute;
  top: 21px;
  left: 50%;
  width: auto;
  height: 23px;
  line-height: normal;
  transform: translateX(-50%);

  a {
    text-decoration: none;
    display: block;
    color: #212121;
    font-size: 23px;
  }
}

.header__right-box {
  float: right;
}

#disqus_thread {
  padding: 20px;
}
