button {
  background-color: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.side-bar-panel {
  background-color: rgb(244, 247, 246);
  > div {
    z-index: 3;
  }
}

.side-bar-panel {
  height: 100vh;
  overflow-y: scroll;
  > header {
    position: relative;
    height: 70px;
    line-height: 70px;
    font-size: 13px;
    font-weight: 400;
    background-color: #f4f7f6;
    border-bottom: 1px solid #e6eaea;
  }
}

.header__left-box {
  transition: all 0.3s ease-in-out;
  span {
    display: inline-block;
  }
  button {
    &:hover {
      .ico-menu {
        span {
          &:after {
            left: 0;
          }
        }
      }
      .menu-text {
        color: #64686a;
      }
    }
  }
}

.side-bar {
  background: #f4f7f6;
}

.side-menu {
  ul {
    li {
      &.is-active {
        a {
          color: #49c5b6;
        }
      }
    }
  }
}

.side-bar {
  overflow-y: scroll;
}

#disqus_thread {
  padding: 20px;
}
